<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Velkommen <%= name %></p>
<a class="weatherwidget-io" href="https://forecast7.com/no/58d855d73/sandnes/" data-label_1="Sandnes" data-theme="original" >Sandnes</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>
<a href="/users/logout" class="btn btn-secondary">Logout</a>